.contenedorbusqueda{
    border-radius: 25px;
    width: 309px;
    height: 35px;
    border: 2px solid #505050;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 30px;
}
.contenedorb{
    background-color: transparent;
    border: none;
    height: 30px;
    outline: none;
    font-size: 18px;
}